# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# IDE
.vscode/
.idea/
*.code-workspace

# Build
*.bin
*.elf
*.map
*.o
*.a

# Sekrety - nigdy w repozytorium
secrets.ini
secrets.h
.env

# System
.DS_Store
Thumbs.db
*.swp
